@media (max-width: 1024px) {
    .search_tablet{
        display: flex;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #search_icon{
        position: relative;
        top: 15px;
    }
    .search{
        display: none;
        align-items: center;
      }
    
}

@media (max-width: 900px) {
    .display .city h2 {
        font-size: 30px;
        font-weight: 400;
}
.display h1 {
    font-size: 84px;
    font-family: "Roboto";
    font-weight: 400;
}
.display {
    display: flex;
  justify-content: center;
    align-items: center;
    gap: 20px;
}.navbar{
    justify-content: center;
    justify-content: space-between;
}
input{
    width: 200px;
  
}
}